<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<span th:text="${name}"></span>-->
<!--<table th:if="${!customerList.isEmpty()}">-->
<!--    <tr>-->
<!--        <td>Id</td>-->
<!--        <td>Name</td>-->
<!--    </tr>-->
<!--    <tr th:each="customer , state:${customerList}">-->
<!--        <td th:text="${state.count}"></td>-->
<!--        <td th:text="${customer.id}"></td>-->
<!--        <td th:text="${customer.name}"></td>-->
<!--    </tr>-->
<!--</table>-->
<!--<a th:href="@{/}">Click go home</a>-->
Hi
<form th:action="@{/upload}" th:object="${upload}" th:method="post" enctype="multipart/form-data">
    File : <input type="file" th:filed="*{file}">
    <button type="submit">Upload</button>
</form>
</body>
</html>