<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Variable Example</title>
</head>
<body>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Address</td>
        <td>Role</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:with="id = ${user.id}" th:text="${id}"></td>
        <td th:with="name = 'CodeGym'" th:text="${name}"></td>
        <td  th:text="${user.address}"></td>
        <td th:switch="${user.role}">
            <span th:case="0">Admin</span>
            <span th:case="1">Moderator</span>
            <span th:case="*">User</span>
        </td>
    </tr>
</table>
</body>
</html>